form{
    border-radius: 15px;
    background-color: rgba(234, 234, 234, 50%);
}

.login{
    position:relative;
    width: 300px;
    margin: auto;
}

.title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

button{
    width: 100%;
}

